*{
    margin:0px;
    padding: 0px;
}
.container{
    width: 1100px;
    height: auto;
    margin: auto;
}
header{
    width: 1100px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color:red;
}
header h3{
    margin-left: 20px;
    line-height: 50px;
}
header nav{
    display:flex;
    align-items: center;
    margin-right: 40px;    
}
header a{
    margin: 20px;
    text-decoration: none;
    color: blanchedalmond;
    line-height: 30px;
    text-align: center;

}
header a:hover{
    background-color: white;
    color: black;
}
article{
    width: 1100px;
    height: 500px;
    background-image:url(./images/img.jpg) ;
    background-size:1100px 500px;
    display: flex;
    align-items: center;

}
article h1{
    color: white;
    margin-left: 20px;
    font-size: 3.0em;
    padding-top: 30px;
   
}
article a{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    margin-left: 20px;
    width: 120px;
    height: 50px;
    margin-top: 50px;
    display: block;
    background-color:red;
    line-height:50px ;
    text-align: center;
}
article a:hover{
    color: black;
    background-color: white;
    
}
article img{
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    
}
footer{
    width:1100px;
    height: 50px;
    background-color: black;
    line-height: 50px;

}
footer i{
    
    margin-left:50px;
}


.formpage{
    background-image: url(images/img.jpg);
}
.container2 h2{
    text-align: center;
    margin: 30px;
    color: black;
    font-size: 2.5em;
}
.forminside{
    margin-left:70px;
    color:mintcream;
}
.container2 span input{
    height: 50px;
    width: 100px;
    background-color: rgb(47, 143, 184);
    color:black;
    border: 1px solid black;
    font-size: 1.1em;
}
form{
    height: auto;
    width: 800px;
    border: 2px solid black ;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;

}


@media screen and (max-width:999px) and (min-width:600px)
{
    .container{
        height: auto;
        width: auto;
    }
    header{
        height: auto;
        width: 100%;
    }
    article{
        height: auto;
        width: 100%;
    }
    article h1{
        font-size: 36px;
        line-height: 50px;
    }
    article img{
        height: 100%;
        width: 100%;
    }
    article a{
        margin-bottom: 10px;
    }
    footer{
        height: auto;
        width: 100%;
    }

}



@media screen and (max-width:600px){
    .container{
        height: auto;
        width: auto;
    }
    header{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    header nav{
        display: flex;
        flex-direction: column;
    }
    header a{
        border: 1px solid black;
        padding: 5px;
        margin: 3px;
    }
    article{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    article h1{
    color: rgb(255, 255, 255);
    font-size: 36px;
    line-height: 50px;
    } 

    article img{
        height: auto;
        width: auto;
    }  
    article a{
        margin-bottom: 10px;
    } 
    footer{
        height: auto;
        width: 100%;
    } 
}

